@charset "utf-8";
a {text-decoration:none; display:block; outline:none;}
p,h1,h2,h3,h4,h5,h6 {margin:0;}
ul ,ol {margin:0; padding:0;}
img {border:0;}
input, select, textarea, button {outline:none;}
.clear {clear:both;}
.ta_center {text-align:center;}
.ta_L{text-align:left;}
.ta_R {text-align:right;}
.float_L {float:left;}
.float_R {float:right;}
.block_model_col2 {width:100%;}
.block_model_col3 {width:100%;}
.inner_box33 {width:33%; float:left;}
.inner_box45 {width:45%;}

.main_wrap {width:720px; margin:0 auto;}
.header_wrap {width:100%; height:305px;}
.content_wrap {width:100%; height:560px; overflow:hidden;}
.footer_wrap {width:720px; height:145px; clear:both;}
/*. {page-break-before:always;}*/

.hr_line_dashed {width:100%; border-top:1px dashed #666; margin:30px 0 8px;}
.hr_line {width:100%; border-top:1px solid #666; margin:2px 0;}
.logo_wrap {width:100%; height:35px; padding:2px 0;}
.logo {height:35px; margin:0 3px;}
.logo img {height:35px;}
.title {vertical-align:8px; margin-left:10px;}
.form_data_wrap {margin-top:5px;}
.form_data  {line-height:22px;} 
.table_wrap {width:100%;}
.table_set {width:720px; margin:0 auto; word-wrap:break-word; word-break:break-all; table-layout:fixed; }
.table_wrap  th {line-height:14px;}
.table_wrap  td {line-height:14px; padding:1px 3px; word-wrap:break-word;}
.table_wrap  td p {height:56px; overflow:hidden;}

.item1 {width:230px;}
.item2 {width:180px;}
.item3 {width:250px;}
.item4 {width:40px;}

.remark_wrap {width:100%;}
.remark_wrap ol {list-style:decimal; transform:scale(0.72); margin:-20px 0 -20px -125px; width:136%; line-height:14px;}
.footer_title {line-height:22px;}
.note {line-height:20px; margin-left:-14px; list-style-type:none;}
.info_wrap {width:100%;}
.service  {line-height:14px; width:115%; transform:scale(0.75); margin:-7px 0 -5px -45px;}
.qrcode {margin:0 10px;}
.qrcode img {width:42px; height:42px;}
.qr_word {margin-top:6px; line-height:16px; transform:scale(0.9); margin:6px 0 0 -5px;}