@charset "utf-8";
.Wrapper {
	width: 301px;
	height: 301px;
	border : 1px solid black;
	float : left;
}
.Wrapper2 {
	width: 410px;
	height: 301px;
	border : 1px solid black;
	float : left;
}
.Wrapper2 table {
	margin : 3px 0 0 0;
	border-collapse: collapse;
}
th, td {
	border : 1px solid black;
}
ul.print1 {
	margin: 40px 0 0 -35px;
	list-style-type: none;
}
ul.print1 li {
	font-family: "標楷體";
	text-align: center;
	line-height : 24px;
}
.notice {
	font-size: 14px;
}
.name {
	font-size: 20px;
}
.shipping_id {
	font-size: 16px;
}
.store_name {
	font-size: 14px;
}
.barcode {
	width: 265px;
	height: 31px;
	margin : 0 0 0 50px;
	display: block;
}
.clear {
	clear : both;
}
.total {
	border-top: solid 1px gray;
	line-height: 25px;
}
.clear {
	clear: both;
}
.page_break {
	page-break-before: always;
}
